/* 
    Document   : style
    Created on : 02.05.2013, 13:33:17
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#workspace {
    background-color: rgb(250,250,250);
    border: 1px solid rgb(150,150,150);
    border-radius: 2px;
    z-index: 100;
}